@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;0,700;1,700&display=swap');

/* Body styling */
body {
    background-color:#333333;
}
/* Header Card Styling*/
.header-card{
    background-color: #00b800;
    border-radius: 20px;
    margin-top: 15px;
}
/* Home Page Header Card Styling*/
.welcome-card{
    background-color: #383838;
    border-radius: 20px;
    margin-top: 15px;
}
/* Main headers styling */
.website-headers {
    color: black;
    text-align: center;
    font-family:"Rubik";
    font-weight: 600;
}

/* Sub-headings styling */
.website-subheaders{
    color: black;
    text-align: center;
    font-family:"Rubik";
    font-weight: 400;
}

/* Popout header styling */
.content-popout-header{
    background-color: #383838;
    color: whitesmoke;
    font-family:"Rubik";
    font-weight: 400;
}

/* Popout body styling */
.content-popout-body{
    background-color: #383838;
    color: whitesmoke;
    font-family:"Rubik";
    font-weight: 200;
}

/* Content cards body styling */
.content-card-body{
    background-color: #383838;
    border-radius: 20px;
    color: whitesmoke;
    font-family:"Rubik";
    font-weight: 200;
}

/* Submit buttons styling */
.submit-button{
    background-color: #00b800;
}

/* Submit button when hovered over styling */
.submit-button:hover{
    background-color: #00a500;
}
/* Delete User review button*/
.reset-button{
    background-color: #FF0000;
}
/* Delete User review button when hovered*/
.reset-button:hover{
    background-color: #e50000;
}
/* Edit review button*/
.edit-button{
    background-color: #00b800;
    margin-bottom:10px;
}
/* Edit review button when hovered*/
.edit-button:hover{
    background-color: #00a500;
}
/* Delete review button*/
.delete-button{
    background-color: #FF0000;
    margin-bottom: 10px;
}
/* Delete review button when hovered*/
.delete-button:hover{
    background-color: #e50000;
}
/* Paragraph text styling for registration page text.*/
.registration-requirment{
    color: whitesmoke;
    text-align: center;
    font-family:"Rubik";
    font-weight: 400;
}
/* Search card styling */
.search-card{
    background-color: #383838 ;
    border-radius: 20px;
}

/* Text Styling */
.text{
    color: whitesmoke;
    text-align: center;
    font-family:"Rubik";
    font-weight: 400;
}
/* Opening paragraph text.*/
.welcome-text{
    color: whitesmoke;
    text-align: center;
    font-family:"Rubik";
    font-weight: 400;
    font-size: 30px;
}
/* Styling the flash cards*/
.flash-card{
    background-color: #00b800;
    border-radius: 20px;
    color: black;
    text-align: center;
    font-family:"Rubik";
    font-weight: 600;
}
/* styling the logo inside the nav-bar*/
.logo{
    max-height: 64px;
}
/* Styling the nav bar*/
.navbar-styling{
    background-color:#2d2d2d;
}
/* Styling the mobile nav bar*/
.mobile-navbar-text{
    color: whitesmoke;
    font-family:"Rubik";
    font-weight: 400;
}
/* Styling the mobile nav bar links*/
.sidenav li>a{
    color: #00b800;
    font-family:"Rubik";
    font-weight: 400;
}
/* Styling the mobile nav bar links when hovered*/
.sidenav li>a:hover{
    color: #00a500;
}
/* Styling the nav bar links*/
nav ul a{
    color: #00b800;
    font-family:"Rubik";
    font-weight: 400;
}
/* Styling the logo on the home page*/
.welcome-image-logo{
    max-height: 100px;
}