{% extends "base.html" %}
{% block content %}
<!-- Card panel from materialize.-->
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel header-card">
            <h4 class="website-headers">Post New Review</h4>
            <h6 class="website-subheaders">Share your thoughts with the world!</h6>
        </div>
    </div>
</div>
<!-- Card panel from materialize.-->
<div class="row card-panel content-card-body">
    <form class="col s12" method="POST" action="{{url_for('add_review')}}">
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-trophy prefix green-text "></i>
                <input id="game_name" name="game_name" type="text" class="validate" required>
                <label for="game_name">Game Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-users-slash prefix green-text"></i>
                <select id="age_restriction" name="age_restriction" class="validate" required>
                    <option value="" disabled selected>Age Restriction</option>
                    {% for age in ages %}
                    <option value="{{age.age_restriction}}">{{age.age_restriction}}</option>
                    {% endfor %}
                </select>
                <label for="age_restriction">Age Restriction</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-book prefix green-text"></i>
                <select id="genre_name" name="genre_name" class="validate" required>
                    <option value="" disabled selected>Select a Genre</option>
                    {% for genre in genres %}
                    <option value="{{genre.genre_name}}">{{genre.genre_name}}</option>
                    {% endfor %}
                </select>
                <label for="Genre_Name">Genre</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-users prefix green-text"></i>
                <select id="single_or_multiplayer" name="single_or_multiplayer" class="validate" required>
                    <option value="" disabled selected>Single or Multiplayer</option>
                    {% for player in players %}
                    <option value="{{player.single_or_multiplayer}}">{{player.single_or_multiplayer}}</option>
                    {% endfor %}
                </select>
                <label for="single_or_multiplayer">Single or Multiplayer</label>
            </div>

        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-gamepad prefix green-text"></i>
                <textarea id="extra_comments" name="extra_comments" minlength="5" maxlength="2000"
                    class="materialize-textarea validate" required></textarea>
                <label for="extra_comments">Game Description/review.</label>
            </div>
        </div>
        <!-- Add a button from materialize.-->
        <div class="row">
            <div class="col s12 center-align">
                <button class="btn waves-effect waves-light submit-button" type="submit">
                    Submit Post <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}