{% extends "base.html" %}
{% block content %}

<h2 class=games_title>Game Central</h2>

<ul class="collapsible popout">
    {% for game in games %}
    <li>
      <div class="collapsible-header">
          <i class="far fa-arrow-alt-circle-down"></i>
          {{ game.game_name }}
        </div>
      <div class="collapsible-body">
          <strong>{{ game.age_restriction }}</strong>
          <strong>{{ game.genre_name }}</strong>
          <strong>{{ game.single_or_multiplayer }}</strong>
          <p>{{ game.extra_comments }}</p>
          <p><em>by: {{ game.created_by }}</em></p>
          <p></p>
        </div>
    </li>
    {% endfor %}
  </ul>

{% endblock %}