{% extends "base.html" %}
{% block content %}
<!-- Card panel from materialize.-->
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel welcome-card">
            <div class="row">
                <img src="static/images/GameGeek_logo.png" alt="website-logo"
                    class="img-fluid welcome-image-logo col s12 m6 offset-m3" />
            </div>
            <h4 class=website-headers>Welcome</h4>
        </div>
    </div>
</div>
<!-- Card panel from materialize.-->
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel welcome-card">
            <p class="welcome-text"> Join us at GameGeek where by reviews are welcomed at any degree! We look forward to
                building a
                friendly community where anyone can voice their opinions.</p>
        </div>
    </div>
</div>
{% endblock %}