{% extends "base.html" %}
{% block content %}
<!-- Card panel from materialize.-->
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel header-card">
            <h4 class=website-headers>Register With Us!</h4>
        </div>
    </div>
</div>
<!-- Card panel from materialize.-->
<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel content-card-body">
            <div class="row">
                <p class="registration-requirment">The Username must contain atleast one capital letter and be atleast 5
                    characters long!</p>
                <div class="input-field col s12">
                    <i class="fas fa-user-plus prefix light-green-text"></i>
                    <input id="username" name="username" type="text" pattern="(?=.*[a-z])(?=.*[A-Z]).{5,}"
                        class="validate" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="row">
                <p class="registration-requirment">The Password must contain atleast one capital letter, one number and
                    be atleast 8 characters long!</p>
                <div class="input-field col s12">
                    <i class="fas fa-user-lock prefix light-green-text"></i>
                    <input id="password" name="password" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                        class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="col s12 btn-large submit-button">
                    Register <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col s12">
        <p class="center-align text">
            Already a member?
            <a href="{{ url_for('login') }}" class="green-text">Login</a>
        </p>
    </div>
</div>
{% endblock %}